Source: python-vim
Section: devel
Priority: optional
Maintainer: Héctor Acosta (hacosta) <hector.acosta@gmail.com>
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6) 
XS-Python-Version: >=2.4
Standards-Version: 3.8.4

Package: python-vim
Architecture: all
Homepage: https://github.com/hacosta/python-vim
#XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: Python module meant to be used inside the interactive editor.
 Python module that allows users to use vim inside the interactive python
 console.

